<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @measure.from %>
</p>

<p>
  <strong>Set:</strong>
  <%= @measure.set %>
</p>

<%= link_to 'Edit', edit_measure_path(@measure) %> |
<%= link_to 'Back', measures_path %>
